name: Event Trace on Windows

on:
  push:
    branches:
    - etw


jobs:
  etw:
    name: ETW
    runs-on: windows-2019

    steps:
    - name: Download WPT
      run: |
        Invoke-WebRequest -Uri "https://go.microsoft.com/fwlink/?linkid=2026036" -OutFile "C:\adksetup.exe"
    
    - name: Install WPT
      run: |
        C:\adksetup.exe /q /norestart /features OptionId.WindowsPerformanceToolkit
    
    - name: Start ETW Session
      run: |
        xperf -on DiagEasy
    
    - name: Run checkout action
      uses: BrettDong/checkout@octokit
      with:
        fetch-depth: 1
    
    - name: Stop ETW Session
      run: |
        xperf -d C:\perf.etl
    
    - uses: actions/upload-artifact@v3
      with:
        name: ETW
        path: C:\perf.etl
