name: "Pull translations from Transifex"

on:
  schedule:
    - cron: "35 15 * * 1"
  push:
    branches:
      automate-i18n

jobs:
  pull-translations:
    runs-on: ubuntu-20.04
    steps:
      - name: "Install dependencies"
        run: |
          sudo apt-get update
          sudo apt-get install gettext python3-pip
          sudo pip3 install transifex-client
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Pull translations"
        env:
          TOKEN: ${{ secrets.TX_TOKEN }}
        run: |
          export TX_TOKEN=$TOKEN
          ls -la
          rm lang/po/*.po
          until tx pull -a
          do
            echo "Retry in 10 seconds..."
            sleep 10
          done
      - name: "Commit translations"
        uses: EndBug/add-and-commit@v7.2.1
        with:
          add: 'lang/po/*.po'
          author_name: 'Brett Dong (BOT)'
          author_email: brett.browning.dong@gmail.com
          branch: i18n
          message: Routine i18n updates
          pull_strategy: 'NO-PULL'
          push: true
      - name: "Create pull request"
        uses: devops-infra/action-pull-request@v0.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          source_branch: i18n
          target_branch: master
          title: Routine i18n updates
          template: .github/PULL_REQUEST_TEMPLATE.md
          body: "**Automated pull request**"
          reviewer: brettdong
          assignee: brettdong
          label: Translation
          old_string: "<!-- Add your description here -->"
          new_string: "** Automatic pull request**"
          get_diff: trues
